* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Yesteryear", cursive;
  font-style: normal;
}

p,
span {
  font-family: "Mrs Saint Delafield", cursive;
  font-style: normal;
}

#hero-page {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.hero-title {
  color: #f4acb7;
  font-size: 3rem;
}
.butterflies-img {
  max-width: 128px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.countdown-cntnr {
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.countdown-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.countdown-box > span {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 0.25rem;
  background-color: #caf0f8;
  border: 1px solid #fff;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: #023e8a;
}

.countdown-box > p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #023e8a;
}

.flower-img {
  max-width: 96px;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}
