* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dancing Script", cursive;
  font-style: normal;
}

p,
span {
  font-family: "Satisfy", cursive;
  font-style: normal;
}

#hero-page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.hero-title {
  color: #f4acb7;
  font-size: 3rem;
}
.butterflies-img {
  max-width: 128px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

#counter-card {
  display: block;
  text-align: center;
}

.countdown-cntnr {
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.countdown-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.countdown-box > span {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 0.25rem;
  background-color: #caf0f8;
  border: 1px solid #fff;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: #023e8a;
}

.countdown-box > p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #023e8a;
}

.flower-img {
  max-width: 96px;
  position: absolute;
  bottom: -12px;
  /* left: 50%; */
  transform: translateX(-50%);
}
.flower-img.one {
  left: 10%;
}
.flower-img.two {
  left: 30%;
}
.flower-img.three {
  left: 50%;
}
.flower-img.four {
  left: 70%;
}
.flower-img.five {
  left: 90%;
}

.view-greeting-btn {
  display: none;
  padding: 3rem 2rem;
  font-family: "Satisfy", cursive;
  font-size: 2.5rem;
  background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  border: 2px solid #fff;
  color: #f4acb7;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: skew-anime 3s ease-in-out infinite alternate;
}

@keyframes skew-anime {
  from {
    transform: skew(-15deg, 15deg) scale(1.1);
  }
  to {
    transform: skew(15deg, -15deg) scale(0.9);
  }
}

#wish-page {
  width: 100vw;
  height: 100vh;
  background-color: #fff0f6;
  position: relative;
  top: -100%;
  left: 0;
  z-index: 2;
  display: none;
}

.wish-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  height: 60vh;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.wish-title {
  text-align: center;
  font-size: 2rem;
  color: #d6336c;
  margin-bottom: 1rem;
}

.wish-message {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
  color: #343a40;
}

.wish-from {
  position: absolute;
  bottom: 5vh;
  right: 1rem;
}

.sky {
  position: relative;
  width: 100%;
  height: 100vh;
}

.float {
  position: absolute;
  bottom: -150px;
  animation: flyUp linear infinite;
  opacity: 0.9;
}

/* Sizes */
.balloon {
  width: 80px;
}

.heart {
  width: 60px;
}

.b1 {
  left: 10%;
  animation-duration: 11s;
}

.b2 {
  left: 30%;
  animation-duration: 7s;
}

.b3 {
  left: 50%;
  animation-duration: 9s;
}

.b4 {
  left: 70%;
  animation-duration: 13s;
}

.h1 {
  left: 0%;
  animation-duration: 8s;
}

.h2 {
  left: 20%;
  animation-duration: 10s;
}

.h3 {
  left: 30%;
  animation-duration: 6s;
}

.h4 {
  left: 40%;
  animation-duration: 12s;
}

.h5 {
  left: 50%;
  animation-duration: 7s;
}

.h6 {
  left: 60%;
  animation-duration: 9s;
}

.h7 {
  left: 70%;
  animation-duration: 11s;
}

.h8 {
  left: 85%;
  animation-duration: 8s;
}

/* Flying animation */
@keyframes flyUp {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  to {
    transform: translateY(-120vh);
    opacity: 0;
  }
}
